* {
  margin 0;
  padding: 0;
}
/* Fixed Navigation Bar */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: White;
  border-bottom: 1px solid black;
}
a {
  color: black;
  margin: 0 10px;
}
nav {
  Margin-right: 20px;
}
.logo {
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.mytimelogo {
  color: MediumAquamarine;
  margin-left: 10px;
}

/* Main Content*/
article {
  padding-top: 80px;
  width: 1400px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
section {
  margin: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  flex-shrink: 0;
}
p {
  font-family: Georgia;
  font-size: 17px;
  color: Black;
}
.large {
  width: 630px;
}
.medium {
  width: 300px;
}
.small {
  width: 240px;
}

/* Images */
.pictext {
  text-align: center;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
.view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
}
.mother {
  font-size: 40px;
}
.bigstory {
  background-image: url("../images/img-story-main.png");
}
.story1 {
  background-image: url("../images/img-story-2.png");
}

.story2 {
  background-image: url("../images/img-story-3.png");
}
.story3 {
  background-image: url("../images/img-story-1.png");
}

/* Bottom Stories */
.double {
    display: flex;
    justify-content: space-between;
}
.lgarticle {
  margin: 0 10px;
}

/* News Bites */
.newsbites {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bite {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
ul li {
  list-style-type: none;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-top: 1px solid Black;
  border-bottom: 1px solid Black;
  padding: 15px;
}

/* footer */
.footernav {
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}
.footerlogo {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right: 15px;
  margin-bottom: 10px;
}
.copyright {
  margin-top: 15px;
}
